@font-face {
    font-family: "Klavika";
    src: url("./assets/klavika-bold.otf");
}

body {
    margin: 5px;
    font-family: "Helvetica", "Arial", sans-serif;
    background-color: #f0f2f5;
    border-radius: 20 px;
}

input {
    border-radius: 5px;
    margin: 5px;
    padding: 15px;
}


#name-inputs{
    display: flex;
    justify-content: center;
}

#passMail{
    display: flex;
    justify-content: center;
    gap: 15px;
} 


select{

    width: 30%;
    padding: 15px;
    border-radius: 5px;

}


#selectBirth, .genderSelect {
    display: flex;
    justify-content: center;
    gap: 15px;

}

main {
    display:grid;
    grid-template-columns: 30% 40% 30%;
}

.radio {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    border: 1px lightskyblue solid;
    border-radius: 5px;
    padding: 15px;
    width: 25%;
    background-color: white;

}

.radio label{
    font-size: smaller;
}


#submit {
    display: flex;
    justify-content: center;
    border: none;
    background-color: limegreen;
    margin:10px;
    font-weight: 600;
    
}

.submit{
    display: flex;
    justify-content: center;
}


.logo {
    font-family: "Klavika";
    color:#1877f2;
    font-size: 3em;
    text-align: center;
    margin-top:10%;
}

.form {
    background-color: white;
    border-radius: 15px;
    padding:20px;
    box-shadow: 0px 0px 40px 00px rgba(75,75,75, 0.3);
    color: #444;
}



/* my work */
h1 {
    text-align: center;
    font-weight: 400;
}
h2 {
    text-align:center;
    font-weight: 100;
}

h3 {
    text-align:center;
    font-weight: 100;
}

fieldset {
    display: flex;
    flex-direction: column;
    
}


/* media query */

@media screen and (max-width: 1200px) {
    main {
        grid-template-columns: 20% 60% 20%;
    }
}

@media screen and (max-width: 724px) {
    main {
        grid-template-columns: 10% 80% 10%;
    }
}