body, ul {
    margin: 0px;
}

ul {
    display: flex;
    list-style: none; 
    /* List-style: none; removes the bullet points */
    padding-left: 0px;
    justify-content: flex-auto;
    align-items: center;
    height: 5vh;
    gap: 20px;
    padding: 20px;
}

ul a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

ul a hover {
    color: dark blue;
    text-decoration: underline;
    font-weight: bold;
}


nav {
    background-color: skyblue;
}

#home {
    margin-right: auto;
}

/* Media Query TABLETS */
@media only screen and (max-width: 768px){
    ul {

    flex-direction: column;
    height: 10vh;
}

    #home {
        margin-right: 0;

    }

nav {
    background-size: 50vh;
}

}