.flex-container{
    display: flex;
    background-color: black;
    height: 500px;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    
}

.item{
    color: black;
    height: 50px;
    width: 50px;
    background-color: lightblue;
    margin: 5px; 
}

#item1{
    align-self: flex-start;
}

