


header {
    background-image: url("../assets/disney+bg.jpeg");
    display: flex;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
    height: 50vh;

    
}

#loginButt {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 10px;
}

/* call to action Buttons */

.actionButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 8vh;
   
    margin-left: 35vh;
    margin-right: 35vh;

}


.gtb {
    display: flex;
    flex-direction: column;
    /* justify-self: center; */
    align-items: center;
    font-size: small;

}

.gat {
    display: flex;
    flex-direction: column;
    /* justify-self: center; */
    align-items: center;
    font-size: small;

}

#img1 {
    padding-bottom: 23px;

}

#price {
    padding-top: 20px;
    font-size: 13px;
    color:
   
}


/* 'Captions' */

.captions {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: small;
    padding-top: 4vh;

}

#plan {
    font-size: small;
    text-decoration: underline;
}

/* NAV */
.nav {
    color: white;
}

/* GALLERY */

.content {
    padding-top: 3vh;
    background-color: black;
   
}

#gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 2em;
    /* padding: auto;
    margin-right: 5vh;
    margin-left: 5vh; */
}

/* footer */

#footer{
    padding-top: 15px;
    font-size: 15px;
    color: white;
}

/* media query */

@media screen and (max-width: 768px) {

    #gallery {
        grid-template-columns:  1fr;
        grid-template-rows: auto;
        gap: auto;
        width: 50vh;
    }
}