body{
    margin: 0px;
    background-color: rgb(255, 253, 245);
   
}

div {
    background-color: rgb(255, 231, 234);
    border: 1px rgb(238, 199, 199) solid;
    color: darkcyan;
    padding: 10px;
    margin: 150px;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section_1{
    
    text-align: justify;
    
}


ul{
    display: flex;
    flex-direction: row;
    list-style: none; 
    /* List-style: none; removes the bullet points */
    padding:35px;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin: 0px;
    
}
.dropdown-menu li{
    padding:5px;

}


#drop > li {
    padding: 25px;
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
    background-color: rgb(246, 220, 224);
    position: absolute;
    opacity: 0;
    

}



.trigger-dropdown:hover .dropdown-menu{
    opacity: 1;
}

ul a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

ul a hover {
    color: dark blue;
    text-decoration: underline;
    font-weight: bold;
}


nav {
    background-color: rgb(191, 230, 245);
}

#home {
    margin-right: auto;
}

/* media query */

@media screen and (max-width: 1200px) {
    main {
        grid-template-columns: 20% 60% 20%;
    }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [nav="col-"] {
    width: 100%;
  }
}