body{
    margin: 0px;
    background-color: rgb(255, 250, 232);
}

ul{
    display: flex;
    flex-direction: row;
    list-style: none; 
    /* List-style: none; removes the bullet points */
    padding:35px;
    justify-content: center;
    align-items: center;
    height: 50px
    
}
.dropdown-menu li{
    padding:5px;

}


#drop > li {
    padding: 25px;
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
    background-color: pink;
    position: absolute;
    opacity: 0;

}



.trigger-dropdown:hover .dropdown-menu{
    opacity: 1;
}

ul a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

ul a hover {
    color: dark blue;
    text-decoration: underline;
    font-weight: bold;
}


nav {
    background-color: skyblue;
}

#home {
    margin-right: auto;
}

